<h2>Login</h2>
<form (ngSubmit)="login(model)" #loginForm="ngForm">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" required [(ngModel)]="model.name" id="name" placeholder="Username" autofocus
               ngControl="name" #name="ngForm">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required [(ngModel)]="model.password" id="password" placeholder="Password"
               ngControl="password" #password="ngForm">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
        </div>
    </div>
    <button type="submit" class="btn btn-primary pull-left"
            [disabled]="!loginForm.form.valid">Login</button>
    <a [routerLink]="['List']" class="pull-right">Back</a>
</form>